.catalog {
  margin-top: 70px;
}

.catalog-list {
  @include list;
}

.catalog-title {
  @include font(18px, 20px, 600);
}

.catalog-text {
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog-item {
    width: 340px;
    margin-top: 13px;
  }

  .catalog-image {
    width: 340px;
    height: 225px;
  }

  .catalog-title {
    @include font(30px, 30px, 600);
  }

  .catalog-text {
    line-height: 30px;
  }
}
