.catalog {
  margin-top: 70px;
}

.catalog-list {
  @include list;
}

.catalog-item {
  margin-top: 36px;
}

.catalog-title {
  @include font(18px, 20px, 600);
}

.catalog-text {
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-top: 62px;
  }

  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog-item {
    width: 340px;
    margin-top: 29px;
  }

  .catalog-image {
    width: 340px;
    height: 225px;
  }

  .catalog-title {
    @include font(30px, 30px, 600);
    margin: 0;
    margin-top: 21px;
  }

  .catalog-text {
    line-height: 30px;
    margin-top: 24px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-top: 63px;
  }

  .catalog-item {
    width: 290px;
    margin-top: 28px;

    &:last-child {
      margin-right: auto;

      &:not(:nth-child(3n+1)) {
        margin-left: 4.8%;
      }
    }
  }

  .catalog-image {
    width: 290px;
    height: 185px;
  }
}

@media (min-width: $desktop-width-l) {
  .catalog-list {
    margin: $padding-desktop-l;
  }

  .catalog-item {
    width: 400px;

    &:last-child {
      margin-right: auto;

      &:not(:nth-child(3n+1)) {
        margin-left: 3.125%;
      }
    }
  }

  .catalog-image {
    width: 400px;
    height: 260px;
  }
}
