.footer {
  @include font(10px, 16px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #a1a4a7;
  padding-top: 36px;
  padding-bottom: 30px;
  background-color: #4b5360;
}

.footer picture {
  width: 100%;
  margin-bottom: 20px;
}

.footer-logo {
  opacity: 0.5;
}

.copyright {
  width: 105px;
}

.footer-links {
  width: 150px;
}

.footer-link {
  color: #a1a4a7;
}

@media (min-width: $tablet-width) {
  .footer {
    @include font(12px, 19px);
    padding-right: 4 * $padding-tablet;
  }

  .footer picture {
    width: auto;
  }

  .footer-logo {
    width: 194px;
    height: 48px;
  }

  .copyright {
    width: 124px;
  }

  .footer-links {
    width: 180px;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-right: $padding-desktop;
    justify-content: flex-start;
  }

  .footer picture {
    margin-right: 60px;
  }

  .copyright {
    width: auto;
  }

  .footer-links {
    width: auto;
    margin-left: auto;
  }

  .footer-link {
    margin-left: 24px;
  }
}

@media (min-width: $desktop-width-l) {
  .footer {
    padding-left: 2 * $padding-desktop-l;
    padding-right: 2 * $padding-desktop-l;
  }

  .footer picture {
    margin-right: 160px;
  }

  .copyright {
    width: auto;
  }

  .footer-links {
    width: auto;
    margin-left: auto;
  }

  .footer-link {
    margin-left: 24px;
  }
}
