.header {
  height: 400px;
  background-image: url("../img/decor/header-bg-m.jpg"), linear-gradient(135deg, #f2563c 0%, #f88a11 100%);
  background-repeat: no-repeat;
  background-position: center;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 16px;
}

.logo-image-wrapper {
  position: relative;
  display: inline-block;
  width: 128px;
  height: 32px;
  overflow: hidden;
}

.header-logo {
  position: absolute;
  top: -44px;
  left: -4px;
  width: 100%;
  height: auto;

  &:active {
    top: -5px;
  }
}

.logo-image-wrapper-modal {
  position: fixed;
  z-index: 105;
  top: 16px;
  left: $padding-mobile;
}

.tel-number {
  display: none;
}

.callback {
  margin-left: auto;
}

.call-btn {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 0;
  color: #555555;
  background: #ffffff url("../img/decor/Phone_contact.png") no-repeat center;
  background-size: 15px 15px;
  border: 2px solid #ffffff;
  border-radius: 50%;

  &:hover,
  &focus {
    color: #ffffff;
    background-color: transparent;
    background-image: url("../img/decor/Phone_contact-hover.png");
  }
}

.nav-btn {
  display: inline-block;
  margin-left: 18px;
  width: 28px;
  height: 20px;
  background: transparent url("../img/decor/icon-menu-open.svg") no-repeat center;
  background-size: cover;
  border: none;
  cursor: pointer;

  &-opened {
    position: fixed;
    z-index: 105;
    top: 25px;
    width: 28px;
    height: 28px;
    right: $padding-mobile;
    background-image: url("../img/decor/icon-menu-close.svg");
  }
}

.nav-site {
  display: none;
  width: 100%;
  text-align: center;
}

.nav-checkbox:checked ~ .nav-site {
  display: block;
}

.nav-list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }

 .nav-item {
  margin-top: 5px;
  flex-basis: 33%;
 }

.nav-link {
  color: #ffffff;

  &:hover,
  &:focus {
    border-bottom: 2px solid #ffffff;
  }
}

.nav-site-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #4b5360;

  & .nav-list {
    @include font(18px, 46px, 600);
    margin-top: 103px;
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .header {
    height: 550px;
    background-image: url("../img/decor/header-bg-t.jpg"), linear-gradient(135deg, #f2563c 0%, #f88a11 100%);
  }

  .header-top {
    padding-top: 30px;
  }

  .logo-image-wrapper {
    width: 194px;
    height: 48px;
  }

  .header-logo {
    top: -60px;
    left: -5px;

    &:active {
      top: -5px;
    }
  }

  .logo-image-wrapper-modal {
    top: 30px;
    left: $padding-tablet;
  }

  .tel-number {
    @include font(16px, 15px, 700);
    color: #ffffff;
    display: inline;
  }

  .call-btn {
    @include font(14px, 15px);
    width: auto;
    height: auto;
    margin-left: 14px;
    padding: 14px 18px 14px 45px;
    border-radius: 23px;
    background-position: 20px center;
  }

  .nav-btn {
    margin-left: 26px;
    width: 34px;
    height: 27px;

    &-opened {
      right: $padding-tablet;
      top: 35px;
      width: 28px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    background-image: url("../img/decor/header-bg-d.jpg"), linear-gradient(135deg, #f2563c 0%, #f88a11 100%);
  }

  .nav-checkbox {
    display: none;
  }

  .nav-btn {
    display: none;
  }

  .nav-site {
    display: block;
  }

  .nav-list {
    flex-wrap: nowrap;
    margin: 19px 160px 0;
   }

   .nav-item {
      margin-top: 0;
      flex-basis: auto;
   }

   .nav-link {
      @include font(16px, 19px, 600);
   }
}

@media (min-width: $desktop-width-l) {
  .header {
    height: 680px;
    background-image: url("../img/decor/header-bg-d1920.jpg"), linear-gradient(135deg, #f2563c 0%, #f88a11 100%);
    background-position: center -55px, 0 0;
  }

  .header-top {
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-top: 50px;
  }

  .logo-image-wrapper {
    order: 1;
    width: 242px;
    height: 60px;
  }

  .header-logo {
    top: -5px;
    left: -5px;

    &:active {
      top: -70px;
    }
  }

  .callback {
    order: 2;
  }

  .tel-number {
    @include font(18px, 19px, 700);
  }

  .call-btn {
    font-size: 16px;
    margin-left: 24px;
    padding: 19px 28px 19px 60px;
    border-radius: 28px;
    background-position: 30px center;
    background-size: 23px 22px;
  }

  .nav-site {
    order: 1;
    width: 620px;
    margin-left: 247px;
  }

  .nav-list {
    margin: 0;
  }
}
