.modal {
  display: none;
  position: fixed;
  z-index: 120;
  top: 70px;
  left: 50%;
  min-width: 320px;
  transform: translateX(-50%);
}

.modal-content {
  margin-top: 70px;
}

.modal-overlay {
  display: none;
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #4b5360;
}

.close-modal {
  display: inline-block;
  position: absolute;
  margin-left: 18px;
  width: 28px;
  height: 20px;
  background: transparent  no-repeat center;
  background-size: cover;
  border: none;
  cursor: pointer;
  top: 25px;
  right: $padding-mobile;
  background-image: url("../img/decor/icon-menu-close.svg");
}
