.price {
  margin-top: -1px;
  background-image: linear-gradient(to bottom, #2f2d38 0%, #2f2d38 50%, #ffffff 50%, #ffffff 100%);
}

.price-content {
  padding: 27px 20px 41px;
  background-color: #f99629;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.10196078431372549) 0%, rgba(255, 255, 255, 0.2) 100%), url("../img/decor/table-bg-m.jpg");
  background-repeat: no-repeat;
  box-shadow: 5px 8.66px 25px rgba(30, 27, 25, 0.3);
}

.price-title {
  @include font(36px, 45px, 800);
  color: #ffffff;
  margin: 0;
}

.table-wrapper {
  position: relative;
  width: 100%;
  margin-top: 50px;
  overflow: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: #db8425;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #ecedee;
  }

  &::-webkit-resizer {
    background-image: url("");
    background-repeat: no-repeat;
    height: 4px;
    width: 0;
  }
}

.price-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.table-item {
  height: 50px;
  box-sizing: border-box;
  vertical-align: top;
  padding: 15px 26px 9px 0;
  /*padding: 15px 20px 10px 0;*/
  border-bottom: 1px solid rgba(#ffffff, 0.5);

  &:last-child {
    padding-right: 0;
  }
}

.table-head {
  font-weight: 600;

  & .table-item {
    padding-top: 0;
    border-color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .price {
    padding-left: 3 * $padding-tablet;
    padding-right: 3 * $padding-tablet;
  }

  .price-content {
    padding: 54px 40px 72px;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.10196078431372549) 0%, rgba(255, 255, 255, 0.2) 100%), url("../img/decor/table-bg-t.jpg");
  }

  .table-wrapper {
    margin-top: 75px;
  }

  .price-title {
    @include font(54px, 56px, 800);
  }

  .table-item {
    padding: 24px 40px 25px 0;

    & br {
      display: none;
    }

    &-large {
      padding-right: 35px;
    }
  }

  .table-head br {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .price {
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }

  .price-content {
    margin-left: 3 * $padding;
    margin-right: 3 * $padding;
  }

  .table-item {
    padding-right: 0;
  }
}

@media (min-width: $desktop-width-l) {
  .price {
    padding-left: $padding-desktop-l + $padding-inner-desktop-l;
    padding-right: $padding-desktop-l + $padding-inner-desktop-l;
  }

  .price-title {
    @include font(70px, 70px, 800);
  }

  .price-content {
    padding: 58px $padding-content-desktop-l 72px;
  }
}
