.promo {
  @include font(14px, 52px);
  color: #ffffff;
  padding-top: 1px;
  padding-bottom: 59px;
  background-color: #505465;
}

.promo-list {
  @include list;
  display: flex;
  flex-direction: column;
  margin-top: 79px;
}

.promo-item {
  position: relative;
  margin: 0 auto;
  height: 52px;
  padding-left: 80px;
  opacity: 0.8;
  cursor: pointer;

  &:not(:first-child) {
    margin-top: 29px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  &-term::before {
    background-image: url("../img/decor/promo-term.png");
  }

  &-map::before {
    background-image: url("../img/decor/promo-map.png");
  }

  &-weight::before {
    background-image: url("../img/decor/promo-weight.png");
  }

  &-geo::before {
    background-image: url("../img/decor/promo-geo.png");
  }

  &-tariff::before {
    background-image: url("../img/decor/promo-tariff.png");
  }

  &:hover {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    @include font(18px, 64px);
  }

  .promo-list {
    margin-top: 130px;
  }

  .promo-item {
    padding-left: 90px;
    height: 64px;

    &:not(:first-child) {
      margin-top: 36px;
    }

    &::before {
      width: 64px;
      height: 64px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    line-height: 24px;
  }

  .promo-list {
    flex-direction: row;
    text-align: center;
    margin-left: $padding;
  }

  .promo-item {
    width: 160px;
    padding-top: 94px;
    padding-left: 0;

    &:not(:first-child) {
      margin-top: 0;
    }

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
