.slider {
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 300px;
  margin: 68px auto 0;
  box-shadow: 5px 8.66px 25px rgba(30, 27, 25, 0.3);
}

.slider-list {
  @include list;
  position: absolute;
  left: 0;
  top: 0;
}

.slider-item {
  position: relative;
  min-height: 300px;
  box-sizing: border-box;
  padding-top: 152px;
}

.slider-image {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.slider-link {
  @include font(28px, 35px, 600);
  position: relative;
  display: inline-block;
  z-index: 1;
  color: #ffffff;
  margin-left: 20px;
}

.slider-nav {
  position: absolute;
  left: 20px;
  bottom: 19px;
}

.slider-btn {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:first-child {
    margin-right: 22px;
  }
}

.slider-btn-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 13px;
  transform: translate(-50%, -50%);
}

.slider-next .slider-btn-image {
  transform: translate(-50%, -50%) scaleX(-1);
}

@media (min-width: $tablet-width) {
  .slider {
    width: 640px;
    height: 440px;
    margin-left: auto;
    margin-right: auto;
  }

  .slider-item {
    min-height: 440px;
    padding-top: 194px;
  }

  .slider-image {
    width: 640px;
    height: 440px;
  }

  .slider-link {
    @include font(60px, 65px, 600);
    margin-left: 2 * $padding;
  }

  .slider-nav {
    left: 2 * $padding;
    bottom: 28px;
  }

  .slider-btn {
    width: 40px;
    height: 40px;

    &:first-child {
      margin-right: 25px;
    }
  }

  .slider-btn-image {
    width: 11px;
    height: 17px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin: 30px auto 0;
    width: 840px;
    height: 440px;
  }

  .slider-item {
    padding-top: 173px;
  }

  .slider-image {
    width: 840px;
    height: 440px;
  }

  .slider-link {
    @include font(70px, 75px, 600);
  }
}

@media (min-width: $desktop-width-l) {
  .slider {
    margin: 57px auto 0;
    width: 1100px;
    height: 560px;
  }

  .slider-item {
    min-height: 560px;
    padding-top: 250px;
  }

  .slider-image {
    width: 1100px;
    height: 560px;
  }

  .slider-link {
    @include font(80px, 85px, 600);
    margin-left: $padding-content-desktop-l;
  }

  .slider-nav {
    left: $padding-content-desktop-l;
    bottom: 53px;
  }
}
