.slider-item:nth-child(2) {
  display: none;
}

.slider {
  position: relative;
  margin-top: 68px;
  box-shadow: 5px 8.66px 25px rgba(30,27,25,0.3);
}

.slider-list {
  @include list;
  display: flex;
}

.slider-item {
  position: relative;
  min-height: 300px;
  box-sizing: border-box;
  padding-top: 152px;
}

.slider-image {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

.slider-link {
  @include font(28px, 35px, 600);
  position: relative;
  display: inline-block;
  z-index: 1;
  color: #ffffff;
  margin-left: $padding-mobile;
}

.slider-nav {
  position: absolute;
  left: $padding-mobile;
  bottom: 19px;
}

.slider-btn {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:first-child {
    margin-right: 22px;
  }
}

.slider-btn-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 13px;
  transform: translate(-50%, -50%);
}

.slider-next .slider-btn-image {
  transform: translate(-50%, -50%) scaleX(-1);
}

@media (min-width: $tablet-width) {
  .slider {
    margin-left: 2 * $padding;
    margin-right: 2 * $padding;
  }

  .slider-item {
    min-height: 440px;
    padding-top: 205px;
  }

  .slider-image {
    width: 640px;
    height: 440px;
  }

  .slider-link {
    @include font(60px, 65px, 600);
    margin-left: 2 * $padding;
  }

  .slider-nav {
    left: 2 * $padding;
    bottom: 30px;
  }

  .slider-btn {
    width: 40px;
    height: 40px;

    &:first-child {
      margin-right: 30px;
    }
  }

  .slider-btn-image {
    width: 11px;
    height: 17px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin-top: 30px;
    margin-left: 3 * $padding;
    margin-right: 3 * $padding;
  }

  .slider-item {
    padding-top: 175px;
  }

  .slider-image {
    width: 840px;
    height: 440px;
  }

  .slider-link {
    @include font(70px, 75px, 600);
  }
}

@media (min-width: $desktop-width-l) {
  .slider {
    margin-top: 75px;
    margin-left: $padding-inner-desktop-l;
    margin-right: $padding-inner-desktop-l;
  }

  .slider-item {
    min-height: 560px;
    padding-top: 265px;
  }

  .slider-image {
    width: 1100px;
    height: 560px;
  }

  .slider-link {
    margin-left: $padding-content-desktop-l;
  }

  .slider-nav {
    left: $padding-content-desktop-l;
    bottom: 53px;
  }
}


