body {
  margin: 0 auto;
  padding: 0;

  @include font;
  color: #272b31;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  line-height: 15px;
  font-weight: 600;
  color: #ffffff;
  padding: 15px 35px 15px;
  background-color: #f9a03e;
  border: none;
  border-radius: 23px;

  &:hover,
  &:focus {
    background-color: #f88a11;
  }

  &:disabled {
    color: rgba(#ffffff, 0.3);
    background-color: #424853;
  }
}

@media (min-width: $tablet-width) {
  body {
    @include font(18px, 20px);
  }

  .btn {
    @include font(16px, 19px, 600);
    padding: 19px 35px;
    border-radius: 26px;
  }
}
