$tablet-width: 760px;
$desktop-width: 1020px;
$desktop-width-l: 1920px;

$padding: 20px;
$padding-mobile: 20px;
$padding-tablet: 20px;
$padding-desktop: 30px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
